.main-navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Playfair Display', serif;
    color: #000;
}

.main-navigation .menu-item {
    display: inline-flex;
    padding: 10px;
}

.main-navigation .menu-item a {
    color: var(--primary-color);
}

